{% extends 'customer_base.html' %}
{% load static %}

  <body>
    {% block content %}
    <section class="changepasswordsection">
      <!-- <div class="imgBx">
        <img src="{% static 'images/handnew.png' %}" alt="">
      </div> -->
      <div class="contentBx">
        <div class="formBx">
          <h2>Change Password</h2>
          
          <form action="">
            <div class="inputBx">
              <span>Old Password:</span>
              <input type="password" name="">
            </div>
            <div class="inputBx">
              <span>New Password:</span>
              <input type="password" name="Password" id="password" placeholder="Enter your password" autocomplete="off">
              <h5 id="passwordcheck" class="error_message"></h5>
            </div>
            <div class="inputBx">
                <span>Confirm Password</span>
                <input type="password" name="Confirm_password" id="confirm_password" placeholder="Confirm your password" autocomplete="off">
                <h5 id="confpasswordcheck" class="error_message"></h5>
            </div>

            
            <div class="inputBx">
              <input type="submit" value="Submit" name="" style="width:80%;" id="submitbtn">
            </div>
            
          </form>
        </div>
      </div>
    </section>

    <script type="text/javascript">
      $(document).ready(function(){
        
        $('#passwordcheck').hide();
        $('#confpasswordcheck').hide();
        var password_err = true;
        var conf_password_err = true;
    
        $('#password').keyup(function(){
          password_check();
        })
        function password_check(){
          var pass_val = $('#password').val();
          var passwordcheck3=/^(?=.*[A-Z])(?=.*\d)(?=.*[a-z])(?=.*[!@#$%^&*]).{8,30}$/;
          if(pass_val.length == ''){
            $('#passwordcheck').show();
            $('#passwordcheck').html('** Please fill the password');
            $('#passwordcheck').focus();
            $('#passwordcheck').css("color","red");
            password_err = false;
            return false;
          }
          else{
            $('#passwordcheck').hide();
          }
          if(passwordcheck3.test(pass_val)){
            $('#passwordcheck').hide();
                
          }
          else{
            $('#passwordcheck').show();
            $('#passwordcheck').html('** Password is invalid');
            $('#passwordcheck').focus();
            $('#passwordcheck').css("color","red");
            password_err = false;
            return false;
          }
        }

        $('#confirm_password').keyup(function(){
          confirm_password_check();
        })
        function confirm_password_check(){
          var con_pass_val=$('#confirm_password').val();
          var pass_val = $('#password').val();
          if(pass_val != con_pass_val){
            $('#confpasswordcheck').show();
            $('#confpasswordcheck').html('** Password is not matching');
            $('#confpasswordcheck').focus();
            $('#confpasswordcheck').css("color","red");
            conf_password_err = false;
            return false;
          }
          else{
            $('#confpasswordcheck').hide();
          }
          }


          $('#submitbtn').click(function(){
            
            password_err = true;
            conf_password_err = true;
            

            
            password_check();
            confirm_password_check();
            


            if((password_err == true) && (conf_password_err == true)){
              return true;
            }
            else{
              return false;
            }
          })
          
        
      })

    </script>
    {% endblock %}
  </body>
