{% extends 'admin_base.html' %}
{% load static %}

<body>
  {% block content %}
  <!-- <img src="{% static 'images/latest3.png' %}" class="w-100" alt="..."> -->
  <section class="viewusers_section" style="padding-top:8%;">
    <h2>View Users</h2>
    <table class="table">
        <thead>
            <th>Full Name</th>
            <th>Image</th>
            <th>Contact</th>
            <th>City</th>
            <th>Email Id</th>
            <th>Action</th>

        </thead>
        <tbody>
            {% for c in cust %}
            <tr>
                <td data-label="Full Name">{{c.fullname}}</td>
                <td data-label="Image"><img src="{{c.image.url}}" alt="" width="25px;"></td>
                <td data-label="Contact">{{c.contact}}</td>
                <td data-label="City">{{c.city}}</td>
                <td data-label="Email Id">{{c.email}}</td>
                <td data-label="Action"><a href="" style="color:#ff4584;border:none;padding:5px;">Delete</a></td>
            </tr>
            {% endfor %}
            
           

        </tbody>
    </table>
    
    </section>
  {% endblock %}

</body>

  