{% extends 'admin_base.html' %}
{% load static %}

<body>
  {% block content %}
  <!-- <img src="{% static 'images/latest3.png' %}" class="w-100" alt="..."> -->
  <section class="view_bookings_detail_section" style="padding-top:8%;">
    <h2>View Booking Detail</h2>
    
    <table class="table">
        <thead>
            <th>Attribute</th>
            <th>Values</th>
           
        </thead>
        <tbody>
            <tr>
                <td data-label="Attribute">Flight Name</td>
                <td data-label="Values">Air India</td>
            </tr>
            <tr>
                <td data-label="Attribute">Flight Number</td>
                <td data-label="Values">126754323</td>
            </tr>
            <tr>
                <td data-label="Attribute">Customer Name</td>
                <td data-label="Values">Arun</td>
            </tr>
            <tr>
                <td data-label="Attribute">From Country</td>
                <td data-label="Values">India</td>
            </tr>
            <tr>
                <td data-label="Attribute">Destination Country</td>
                <td data-label="Values">UAE</td>
            </tr>
            <tr>
                <td data-label="Attribute">Departure Date/Time</td>
                <td data-label="Values">12/6/2022:12:0:0</td>
            </tr>
            <tr>
                <td data-label="Attribute">Arrival Date/Time</td>
                <td data-label="Values">12/6/2022:16:0:0</td>
            </tr>
            <tr>
                <td data-label="Attribute">Booking Id</td>
                <td data-label="Values">vjhvij676870</td>
            </tr>
            <tr>
                <td data-label="Attribute">No:of Passengers</td>
                <td data-label="Values">2</td>
            </tr>
           
            <tr>
                <td data-label="Attribute">Fare</td>
                <td data-label="Values">80000</td>
            </tr>
           
           
            

        </tbody>
    </table>
    
    </section>
  {% endblock %}

</body>

  