{% extends 'admin_base.html' %}
{% load static %}

<body>
  {% block content %}
  <!-- <img src="{% static 'images/latest3.png' %}" class="w-100" alt="..."> -->
  <section class="search_result_detail_section" style="padding-top:8%;">
    <h2>View Flight Detail</h2>
    
    <table class="table">
        <thead>
            <th>Attribute</th>
            <th>Values</th>
           
        </thead>
        <tbody>
            <tr>
                <td data-label="Attribute">Flight Name</td>
                <td data-label="Values">Air India</td>
            </tr>
            <tr>
                <td data-label="Attribute">Flight Number</td>
                <td data-label="Values">126754323</td>
            </tr>
            <tr>
                <td data-label="Attribute">From Country</td>
                <td data-label="Values">India</td>
            </tr>
            <tr>
                <td data-label="Attribute">Destination Country</td>
                <td data-label="Values">UAE</td>
            </tr>
            <tr>
                <td data-label="Attribute">Departure Date/Time</td>
                <td data-label="Values">12/6/2022:12:0:0</td>
            </tr>
            <tr>
                <td data-label="Attribute">Arrival Date/Time</td>
                <td data-label="Values">12/6/2022:16:0:0</td>
            </tr>
            <tr>
                <td data-label="Attribute">Total Business seats</td>
                <td data-label="Values">50</td>
            </tr>
            <tr>
                <td data-label="Attribute">Total Economic seats</td>
                <td data-label="Values">100</td>
            </tr>
            <tr>
                <td data-label="Attribute">Fare</td>
                <td data-label="Values">40000</td>
            </tr>
            <tr>
                <td data-label="Attribute">Image</td>
                <td data-label="Values"><img src="{% static 'images/Air-India-logo.png' %}" alt="" width="40px;"></td>
            </tr>
            <tr>
                <td colspan="2" class="button_row"><a href="login" style="margin-left:80%;"><button>Book Now</button></a></td>
            </tr>
            
            

        </tbody>
    </table>
    
    </section>
  {% endblock %}

</body>

  